# ***Performing text analysis using Naive Bayes Classification method***
                                                                                                 By- SHYAM NANDAN
                                                                                                 2021MSBDA039

In [68]:
import docx

In [37]:
from docx import Document

In [38]:
pip install python-docx

Requirement already satisfied: python-docx in c:\users\shyam\anaconda3\lib\site-packages (0.8.11)
Requirement already satisfied: lxml>=2.3.2 in c:\users\shyam\anaconda3\lib\site-packages (from python-docx) (4.6.3)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import os

In [40]:
cwd=os.getcwd()

In [41]:
cwd

'C:\\Users\\SHYAM'

In [42]:

from collections import Counter
def count_words(x,freq):
    skip_symbols=[".",", ",":",";","'",'"',]

    for sy in skip_symbols:
        x=list(map(lambda x: x.replace(sy,""),x))
    count={}
    for element in x:
        if element in count:
            count[element]+=1
        else:
            count[element]=1
    freqx=[]    
    for element in freq:      
        if element in count:
            freqx1=count[element]
        else:
            freqx1=0
        freqx.append(freqx1)    
    return freqx

#reading the document and replacing some special characters with none.
def read_document(r_d):
    doc=docx.Document(r_d)  
    list1=[]
    for p in doc.paragraphs:
        list1.append(p.text)

    s=str("\n".join(list1)) 

    s=s.lower()
    s=s.replace(u'\xa0',' ')
    s=s.replace(u'\n','')
    s=s.replace(u', ',' ')
    s=s.replace(u'(','')
    s=s.replace(u')','')

    y=s.split(" ")
    return y

In [43]:
train_words=["author","content","ebook","production","script","rating"]

In [44]:
doc0=read_document('d0.docx')
freq_doc0=count_words(doc0,train_words)

doc1=read_document('d1.docx')
freq_doc1=count_words(doc1,train_words)

doc2=read_document('d2.docx')
freq_doc2=count_words(doc2,train_words)

doc3=read_document('d3.docx')
freq_doc3=count_words(doc3,train_words)

doc4=read_document('d4.docx')
freq_doc4=count_words(doc4,train_words)

doc5=read_document('d5.docx')
freq_doc5=count_words(doc5,train_words)

In [45]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are" ,freq_doc0,"respectively.")

Occurance of author,content,ebook,production,script,rating in document 0 are [2, 1, 6, 0, 0, 1] respectively.

In [46]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are",freq_doc1,"respectively")

Occurance of author,content,ebook,production,script,rating in document 0 are [2, 2, 2, 0, 0, 1] respectively

In [47]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are",freq_doc2,"respectively")

Occurance of author,content,ebook,production,script,rating in document 0 are [1, 3, 3, 0, 1, 0] respectively

In [48]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are",freq_doc3,"respectively")

Occurance of author,content,ebook,production,script,rating in document 0 are [0, 2, 0, 1, 2, 1] respectively

In [49]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are",freq_doc4,"respectively")

Occurance of author,content,ebook,production,script,rating in document 0 are [1, 1, 0, 1, 4, 2] respectively

In [50]:
print("Occurance of author,content,ebook,production,script,rating in document 0 are",freq_doc5,"respectively")

Occurance of author,content,ebook,production,script,rating in document 0 are [0, 0, 0, 1, 3, 2] respectively

# Naive bayes classification, classes are Books and Movies

In [51]:
train_words

['author', 'content', 'ebook', 'production', 'script', 'rating']

In [52]:
import pandas as pd

In [53]:
data_tbl=pd.read_excel("D:\\BIG DATA\\test_table.xlsx")

In [54]:
data_tbl.index=['D0','D1','D2','D3','D4','D5']

In [55]:
data_tbl

    author  content  ebook  production  script  rating   class
D0       2        1      6           0       0       1   Books
D1       2        2      2           0       0       1   Books
D2       1        3      3           0       1       0   Books
D3       0        2      0           1       2       1  Movies
D4       1        1      0           1       4       2  Movies
D5       0        0      0           1       3       2  Movies

In [56]:
#sum of all instance values in books class
sum_books=0
for i in range(0,3):
    for k in range(0,6):
        sum_books=sum_books+data_tbl.iloc[i,k]
        
#sum of all instance values in movies class
sum_movies=0
for i in range(3,6):
    for k in range(0,6):
        sum_movies=sum_movies+data_tbl.iloc[i,k]
        
print("sum of all instace values in books class =",sum_books)
print("sum of all instance values in movies class=",sum_movies)

sum of all instace values in books class = 25
sum of all instance values in movies class= 21

In [57]:
sum_bok=0
sum_mov=0
for j in range(0,6):
    for i in range(0,3):
        sum_bok=sum_bok+data_tbl.iloc[i,j]
   
    for k in range(3,6):
        sum_bok=sum_mov+data_tbl.iloc[k,j]
       
    if (sum_bok==0 or sum_mov==0):
            print("Zero frequency problem occured in the table")
            break

Zero frequency problem occured in the table

# Laplace smoothing

In [58]:
r,c=data_tbl.shape
print("Number of rows in data frame =",r)
print("Number of columns in data frame =",c)
n_c=c-1
print(n_c)

Number of rows in data frame = 6
Number of columns in data frame = 7
6

In [59]:
# applying laplace smoothing for the occurances in the table
x=[]
y=[]
for j in range(0,6):
    pr_book=0
    pr_mov=0
    
    for i in range(0,3):
        pr_book= pr_book+data_tbl.iloc[i,j]
        prob_book_smoo=round(((pr_book+(n_c*1/n_c))/(sum_books+n_c)),4)
    x.append(prob_book_smoo)
    
    for k in range(3,6):
        pr_mov= pr_mov+data_tbl.iloc[k,j]
        prob_mov_smoo=round(((pr_mov+(n_c*1/n_c))/(sum_movies+n_c)),4)
    y.append(prob_mov_smoo)
   
    print("probability(",train_words[j],"/books) is",prob_book_smoo)
    print(" ")
    print("probability(",train_words[j],"/movies) is",prob_mov_smoo)
    print(" ")
print(x)
print(y)

probability( author /books) is 0.1935

probability( author /movies) is 0.0741

probability( content /books) is 0.2258

probability( content /movies) is 0.1481

probability( ebook /books) is 0.3871

probability( ebook /movies) is 0.037

probability( production /books) is 0.0323

probability( production /movies) is 0.1481

probability( script /books) is 0.0645

probability( script /movies) is 0.3704

probability( rating /books) is 0.0968

probability( rating /movies) is 0.2222

[0.1935, 0.2258, 0.3871, 0.0323, 0.0645, 0.0968]
[0.0741, 0.1481, 0.037, 0.1481, 0.3704, 0.2222]

## Classifying a text document

In [60]:
df=pd.read_excel("D:\\BIG DATA\\Test_Document.xlsx")

In [61]:
df.index=["DTest"]

In [62]:
h=df.iloc[0]

In [63]:
h

author        3
content       2
ebook         1
production    1
script        2
rating        1
Name: DTest, dtype: int64

In [64]:
import numpy as np

In [65]:
p_books_by_w=round(np.log10(0.5),4)
print(p_books_by_w)
for i in range(0,6):
    j=round(np.log10(x[i]**h[i]),4)
    print(j)
    p_books_by_w=p_books_by_w+j
print("Posterior probability p(books/w)",p_books_by_w)

-0.301
-2.14
-1.2926
-0.4122
-1.4908
-2.3809
-1.0141
Posterior probability p(books/w) -9.031600000000001

In [66]:
p_movies_by_w=round(np.log10(0.5),4)
for i in range(0,6):
    o=round(np.log10(y[i]**h[i]),4)
    p_movies_by_w=p_movies_by_w+o
print("Posterior probability p(movies/w)",p_movies_by_w)

Posterior probability p(movies/w) -9.1276

In [67]:
if(p_books_by_w==p_movies_by_w):
    print("The document can't be classified as both the classes' probability is same")
    
elif p_books_by_w>p_movies_by_w:
    print("The document Test_Document belongs to books class")
else:
    print("The document Test_Document belongs to movies class")

The document Test_Document belongs to books class